.login-container {
  background-image: url('/images/auth_bg.svg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100vw;  
}

.overlay{
  background-image: url('/images/overlay.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;  
}
.content-container {
  position: absolute;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  height: 50%;
}

.logo-container{
  background-color: #fff;
  width: 100px;  
  height: 100px;
  margin-bottom: 10%;
  border-radius: 50%;
}
h1{
  color: #fff;
  text-align: center;
  margin-bottom: 10%;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
}

.btn {
  width: 90%;
  height: 12%;
  background-color: #dffd52;
  color: #000;
  border-radius: 22px;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: .8rem;
}

.btn:hover {
   cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login-container {
    width: 300px;  
  }
  .overlay{
    width:  300px;  
  }
  .content-container{
    padding: 0%;
    width: 300px;
  }
}

