.login-container {
  background-image:-webkit-image-set();
  width: 100%;
  height: 100%;
}

.overlay{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70%;
  background-color: #000;
  opacity: 0.5;
  border-top-left-radius: 150px;
}
.content-container {
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 5%;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

h1{
  color: #fff;
  font-size: small;
  text-align: center;
  margin-bottom: 8%;
}

.btn {
  width: 70%;
  background-color: #dffd52;
  color: #000;
  border-radius: 20px;
}
