.login-container {
  background-image: url('/images/auth_bg.svg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100vw;  
}

.overlay{
  background-image: url('/images/overlay.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70%;  
}
.content-container {
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  height: 50%;
}

.logo-container{
  background-color: #fff;
  width: 30vw;
  height: 15vh;
  margin-bottom: 10%;
  border-radius: 50%;
}
h1{
  color: #fff;
  font-size: small;
  text-align: center;
  margin-bottom: 8%;
}

.btn {
  width: 70%;
  background-color: #dffd52;
  color: #000;
  border-radius: 20px;
  align-self: center;
}

.btn:hover {
   cursor: pointer;
}
