.login-container {
  background-image: url("/images/auth_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.overlay {
  background-image: url("/images/overlay.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
}

.content-container {
  position: absolute;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  height: 50%;
}

.logo-container {
  background-image: url("/images/logo/logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin-bottom: 10%;
  border-radius: 50%;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.btn {
  width: 90%;
  height: 12%;
  background-color: #dffd52;
  color: #000;
  border-radius: 22px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn:active {
  cursor: pointer;
  background-color: #88af01;
  opacity: 0.5;
}

.spinner {
  position: absolute;
  top: 40%;
  left: 40%;
  border: 4px solid #ccc;
  border-top: 4px solid orange;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 999;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 450px) {
  .login-container {
    width: 450px;
  }
  .overlay {
    width: 450px;
  }
  .content-container {
    padding: 0%;
    width: 450px;
  }
}

@media screen and (min-width: 1500px) {
  .login-container {
    width: 450px;
  }
  .overlay {
    width: 450px;
  }
  .content-container {
    padding: 0%;
    width: 450px;
  }
  .spinner {
    left: 48.5%;
  }
}
