
 .profile_container {
   height: 100vh;
   width: 100vw;
   background: #FFFFFF;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
 }

 .p_c_header {
   margin-top: 70px;
   width: 87%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

 }

 .p_c_header_left {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .p_c_backButton {
   background-color: #dffd52;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   outline: none;
 }

 .arrowIcon {
   border: none;
   color: #000;
   width: 80px;
   height: 80px;
   outline: none;
 }

 .text {
   color: #000;
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
 }

 .section {
   font-weight: 400;
   font-size: 16px;
 }

 .p_c_buttonContainer {
   display: flex;
   position: absolute;
   bottom: 30px;
   right: 27px;
 }

 .p_c_nextButton {
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   color: #000;
   width: 100px;
   height: 40px;
   outline: none;
 }

 @media screen and (max-width: 800px) {
   .profile_container {
     width: 100vw;
   }
 }