.profile_container{
    height: 100vh;
    background: linear-gradient(to bottom, #D8D6E0, #F8FFC7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}
.p_c_header {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.p_c_header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p_c_backButton {
  background-color: #dffd52;
  width: 40px;
  height: 40px; 
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.arrowIcon{
  border: none;
  color: #000;
  width: 80px;
  height: 80px; 
}

.text {
  color: #000;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.p_c_buttonContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    bottom: 50px;
}
  
  .p_c_nextButton {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #000;
    width: 100px;
    height: 40px; 
    margin-left: 150px;
  }

  @media  screen and (max-width: 800px) {
    .profile_container{
      width: 100vw;
    }
  }

