.profile_container{
    height: 100vh;
    width: 100vw;
    padding: 5%;
    background: linear-gradient(to right, #D8D6E0, #F8FFC7);
}

.p_c_buttonContainer {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .p_c_nextButton {
    background-color: #dffd52;
    width: 30%;
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #000;
    border: none;
    gap: 5px;
  }
  
  .p_c_nextArrow {
    background-color: #000;
    width: 50%;
    border-radius: 50%;
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
