/* mobile */

.filter-page-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.6;
    z-index: -3;
    object-fit: cover;
}

.filter-container {
    width: 100%;
    background: linear-gradient(to top, #D8D6E0 67%, #F8FFC7 100%);
    height: 100%;
    position: relative;
}

.filter-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 1rem;
    padding-top: 2.5rem;
}

.filter-back-button {
    width: 44px;
    height: 44px;
    background-color: #DFFD52;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.filter-section-title-text {
    font-size: 1rem;
    font-weight: bold;
}

.filter-section-title-text2 {
    font-size: 1rem;
    font-weight: 600;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px;
}

.filter-section1,
.filter-section2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.interest-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.6em;
    transition: all 0.2s ease;
    cursor: pointer;
}

div.interest-button.selected {
    background-color: #000;
    border-color: #000;
}

.interest-icon {
    width: 1rem;
    color: #000;
}

.interest-name {
    font-size: 0.8rem;
    color: #000;
}

div.interest-button.selected .interest-name {
    color: #DAFF3E;
}

.interests-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

    justify-content: center;
}



.apply-button-container {
    align-self: flex-end;
}

.apply-button {

    cursor: pointer;
    transition: all 0.2s ease;
}

.apply-button:hover {
    transform: translateY(-1px);
}

.apply-button:active {
    transform: translateY(0);
}

.apply-button span {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.apply-button svg {
    width: 20px;
    height: 20px;
    color: #000000;
}

.apply-button-icon {
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    padding: 8px;
}

.apply-button-text {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1rem;
}

.filter-section-input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 9px;
    background: #F7F7F7;
    border-radius: 10rem;
    outline: none;
}

.filter-section-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #454545;
    cursor: pointer;
}

.filter-section-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #454545;
    cursor: pointer;
    border: none;
}

.apply-button-image {
    width: 8rem;
    height: 6.5rem;
}



/* desktop */