/* Chat Container */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: #ffff;
    width: 100vw;
  }
  
  /* Chat Header */
  .chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 30px;
    background: transparent;
  }
  
  .back-button {
    padding: 8px;
    border-radius: 50%;
    background-color: #dfff2f;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }
  
  .username {
    font-size: 16px;
    font-weight: bold;
    margin-left: 13px;
    color: black;
  }
  
  /* Chat Messages */
  .chat-messages {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent;
  }
  
  /* Chat Input */
  .chat-input {
    display: flex;
    align-items: center;
    padding: 12px;
    background: white;
  }
  
  .c-i-Container{
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #D1D1D1;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 5px 10px;
    justify-content: space-between;
  }

  .c-i-Container input {
    border: none;
    outline: none;
    font-size: 12px;
    color: #000000;
    flex-grow: 1;
    font-family: 'Montserrat';
    background-color: transparent;
  }
  
  .send-button {
    padding: 5px;
    border-radius: 50%;
    background-color: #000000;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Icons */
  .icon {
    width: 18px;
    height: 17px;
    color: #DFFD52;
  }

  .arrow{
    color: black;
  }
  
  .send-icon {
    transform: rotate(45deg);
  }

  @media screen and (min-width: 700px){
    .chat-container {
      width: 300px;
    }
  }
