.viewPhoto-profileContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewPhoto-profileImage{
    width: 300px;
    height:  300px;
    object-fit: contain;
}
