.viewPhoto-profileContainer{
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.viewPhoto-profileImage{
    width: 100%;
    height:  100%;
    object-fit: contain;
}