.edit-profile-container{
    /* background: linear-gradient(5.646deg, #D8D6E0 37%, #F8FFC7 100%); */
    height: 100vh;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
