.public-profile-container {
  background-color: #ffffff;
  height: 100vh;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  color: #000000;
}

.public-profile-back-header {
  padding-top: 2rem;
}

.explore-profile-card-button{
  background-color: #000;
  width: 100%;
  padding: 12px 10px;
  border-radius: 100px;
 text-align: center;
}

.public-profile-card-button-text {
  text-transform: capitalize;
  font-weight: 600;
  color: #DFFD52;
  text-align: center;
  font-size: 16px;
}

img.public-profile-card-exploremessage-image {
  width: 50px !important;
  height: 50px !important;
}


.public-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.public-profile-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.public-profile-header-text {
  font-size: 16px;
  font-weight: bold;
}

.public-profile-name {
  font-size: 20px;
  font-weight: 500;
}

.public-profile-description {
  font-size: 16px;
  font-weight: 500;
}

.public-profile-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.public-profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 16px solid #dffd52;
  object-fit: cover;
}

.public-profile-interests-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
}

.public-profile-interests-list {
  font-size: 10px;
  font-weight: 600;
  background-color: #2a2a2a;
  padding: 10px 0.6rem;
  border-radius: 12px;
  color: #dffd52;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.public-profile-connect-container {
  /* background-color: #2A2A2A; */
  border-radius: 10rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 90%;
  max-width: 400px;
  align-self: center;
  margin-bottom: 40px;
}

.public-profile-connect-title {
  font-size: 16px;
  font-weight: 600;
  color: #dffd52;
}

.viewPhoto-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  z-index: 999;
}

.public-profile-message-image {
  background: #dffd52;
  display: flex;
  padding: 6px;
  border-radius: 10rem;
  align-self: center;
}

.public-profile-messageimage {
  width: 35px;
  height: 35px;
}

img.public-profile-card-exploremessage-image {
  width: 50px;
  height: 50px;
}

@media (min-width: 1024px) {
  .public-profile-container {
    width: 450px;
  }
}