.public-profile-container {
    background: linear-gradient(5.646deg, #D8D6E0 37%, #F8FFC7 100%);
    height: 100vh;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
}

.public-profile-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
.public-profile-header-text{
    font-size: 16px;
    font-weight: bold;
}
.public-profile-name{
    font-size: 20px;
    font-weight: 600;
}
.public-profile-description{
    font-size: 16px;
    font-weight: 500;
}

.public-profile-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.public-profile-picture{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.public-profile-interests-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.public-profile-interests-list{
    font-size: 12px;
    font-weight: 600;
    background-color: #2A2A2A;
    padding: 0.4rem 0.6rem;
    border-radius: 10rem;
    color: #DFFD52;
}
.public-profile-connect-container{
    background-color: #2A2A2A;
    border-radius: 10rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    /* max-width: 200px; */
    align-self: center;
    margin-bottom: 40px;
}
.public-profile-connect-title{
    font-size: 16px;
    font-weight: 600;
    color: #DFFD52;
}
.public-profile-message-image {
    background: #DFFD52;
    display: flex
;
    padding: 6px;
    border-radius: 10rem;
    align-self: center;
}

.public-profile-messageimage{
    width: 35px;
    height: 35px;
}