.payment-container{
    background-image: url('images/payment/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-c-header{
    height: 10%;
    padding: 5%;
}

.p-c-header-backButton{
    width: 44px;
    height: 44px;
    background-color: #DFFD52;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-c-header-backButton:active{
    background-color: #B3D62A;
    transition: 500ms ease;
}

.backButton{
    color: #2a2a2a;
    height: 70%;
}

.p-c-body{
    height: 60%;
    padding: 4%;
}

.p-c-body-title{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 32px;
    display: block;
    margin-bottom: 3%;
}

.p-c-body-title-highlight{
    display: block;
    color: #DFFD52;
}

.p-c-body-plans-container{
 height: 65%;
 display: flex;
 flex-direction: column;
 gap: 5%;  
}

.p-c-body-plan-button{
    width: 100%;
    height: 25%;
    border:2px solid #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.p-c-body-plan-button:hover{
    cursor: pointer;
}

.p-c-body-plan-button-selected{
  border: 2px solid #CDF428;
}

.p-c-body-plan-button-current{
    background-color: #DFFD52;
    border:none;
}

.p-c-body-plan-button-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
}

.p-c-body-plan-button-text{
    color: #fff;
}

.p-c-body-plan-button-current-text{
    color:#2a2a2a;
}

.p-c-body-subscription-conatiner{
    width: 100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-c-body-subscription-button{
    width: 90%;
    padding: 2%;
    background-color: #DFFD52;
    color: #2a2a2a;
    font-weight: bold;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.p-c-body-subscription-button:hover{
    background-color: #88AF01;
    transition: 500ms ease;
    cursor: pointer;
}

.p-c-body-subscription-policies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 1%;
}

.p-c-body-subscription-policy{
    font-size: small;
}

.p-c-body-currentplan-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}
.p-c-body-plan-exipiryText{
    text-align: center;
    font-weight: bold;
}

@media (min-width: 450px) {
    .payment-container{
      width: 450px;
    }
    .p-c-body-plan-button-text-container{
        font-size: medium;
    }
}
