/* small mobile css */
.footer-container {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100vw;
    z-index: 1000;
    padding: 10px 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    box-shadow: 0px 2px 8px 0px rgba(35, 49, 2, 5%);
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 60px;
    padding: 10px;
    gap: 55px;
}
.nav-btn { 
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-btn img{
    object-fit: none;
}

.footer-section {
    
    transition: all 0.3s ease-in-out;

}

.selected-tab {
    background-color: #DFFD52;
    border-radius: 50%;
    border: 4px solid #F8FFC7;

    transition: all 0.3s ease-in-out;


}

