
/* small mobile css */
.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .8rem;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}