/* small mobile css */
.footer-container {
    position: absolute;
    bottom: 10px;
    width: 100%;


}

.footer-content {
    box-shadow: 0px 2px 8px 0px rgba(35, 49, 2, 5%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #fff;
    color: #fff;
    border-radius: 60px;
    padding: 6px;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.selected-tab {
    background-color: #DFFD52;
    border-radius: 50%;
    border: 4px solid #F8FFC7;
    display: flex;
    padding: 8px;
}