/* small mobile css */
.footer-container {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    background-color: transparent;
}

.footer-content {
    box-shadow: 0px 2px 8px 0px rgba(35, 49, 2, 5%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: #fff;
    color: #fff;
    border-radius: 60px;
    padding: 6px;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.selected-tab {
    background-color: #DFFD52;
    border-radius: 50%;
    border: 4px solid #F8FFC7;
    display: flex;
    padding: 8px;
}

/* Responsive styles for 320px to 425px */
@media screen and (min-width: 320px) and (max-width: 425px) {
    .footer-content {
        width: calc(90% + (95 - 90) * ((100vw - 320px) / (425 - 320)));
        padding: calc(6px + (8 - 6) * ((100vw - 320px) / (425 - 320)));
    }

    .footer-section {
        padding: calc(8px + (10 - 8) * ((100vw - 320px) / (425 - 320)));
    }

    .selected-tab {
        padding: calc(8px + (10 - 8) * ((100vw - 320px) / (425 - 320)));
    }
}

@media screen and (min-width: 768px) {
    .footer-content {
        width: 60%;
        max-width: 300px;
    }
}