.p_c_profileContainer {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p_c_text{
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: #000;
  text-align: center;
}

.p_c_profileImageContainer {
  background-image: url('/images/profile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;
  width: 35%;
}
.p_c_profilePlusButton{
  width: 3%;
  height: 3%;
  position: absolute;
  right: 35%;
  top: 33%;
  background-image: url('/images/plusicon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.p_c_profilePlusButton:hover {
  border: none;
  outline: none;
}
.p_c_inputContainer {
  height: 30%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
  gap:15%;
}

.p_c_input {
  width: 95%;
  border: 1px solid #fff;
  background-color: #D9D7E1;
  border-radius: 25px;
  padding-left: 5%;
  padding-right: 5%;
  color: #000;
  text-align: left;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  outline: none;
}


@media (min-width : 768px) {
  .p_c_profilePlusButton{
    right: 46.5%;
  }
}


