.p_c_profileContainer {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p_c_profileImageContainer {
  border: 1px solid #000;
  height: 70%;
  width: 30%;
}

.p_c_inputContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
}

.p_c_input {
  width: 95%;
  border: 1px solid #fff;
  background: linear-gradient(to right, #d8d6e0, #f8ffc7);
  border-radius: 15px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  color: #000;
  text-align: left;
  vertical-align: top;
}

