.p_c_profileContainer {
  height: 25%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p_c_profileImageContainer {
  background-image: url('/images/profile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70%;
  width: 30%;
}

.p_c_inputContainer {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5%;
}

.p_c_input {
  width: 95%;
  border: 1px solid #fff;
  background-color: #D9D7E1;
  border-radius: 25px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  color: #000;
  text-align: left;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
}

