.p_c_profileContainer {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p_c_text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #000;
  text-align: center;
}

.p_c_profileImageContainer {
  background-image: url("/images/profile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;
  width: 35%;
}

.p_c_profilePlusButton {
  width: 3%;
  height: 3%;
  position: absolute;
  right: 35%;
  top: 33%;
  background-image: url("/images/plusicon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.p_c_profilePlusButton:hover {
  border: none;
  outline: none;
}
.p_c_inputContainer {
  height: 30%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
  gap: 15%;
}

.p_c_input {
  width: 95%;
  border: 1px solid #fff;
  background-color: #d9d7e1;
  border-radius: 25px;
  padding-left: 5%;
  padding-right: 5%;
  color: #000;
  text-align: left;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  outline: none;
}

@media (min-height: 300px) {
  .p_c_profilePlusButton {
    top: 35.5%;
    right: 35.5%;
  }
}

@media (min-height: 700px) {
  .p_c_profilePlusButton {
    top: 33.5%;
    right: 35.5%;
  }
}

@media (min-height: 800px) {
  .p_c_profilePlusButton {
    top: 31%;
    right: 35.5%;
  }
}

@media (min-height: 1000px) {
  .p_c_profilePlusButton {
    top: 27.5%;
    right: 43%;
  }
}

@media (min-height: 1100px) {
  .p_c_profilePlusButton {
    top: 25.5%;
    right: 43%;
  }
}

@media (min-height: 1300px) {
  .p_c_profilePlusButton {
    top: 23.5%;
    right: 44%;
  }
}

@media (min-width: 1000px) and (min-height: 600px) {
  .p_c_profilePlusButton {
    top: 37%;
    right: 45%;
  }
}

@media (min-width: 1200px) and (min-height: 800px) {
  .p_c_profilePlusButton {
    top: 31%;
    right: 46%;
  }
}

@media (min-width: 800px) and (min-height: 700px) {
  .p_c_profilePlusButton {
    top: 34%;
    right: 46.5%;
  }
}
