.payment-popup-info-container{
    width: 70%;
    background-color: #DFFD52;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 3% 3% 3%;
    gap:30px
}

.payment-popup-info-container-text{
    text-align: center;
    color: #2a2a2a;
    font-weight: bold;
    line-height: 1.2;
    font-size: small;
}

.payment-popup-info-container-button{
    width: 90%;
    padding: 4%;
    background-color: #2A2A2A;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #DFFD52;
    font-weight: bold;
    font-size: small;
}

.payment-popup-info-container-button:hover{
    cursor: pointer;
}